/* Layout */
/* More generic formatting
   that will get applied to
   all of the tags*/
footer, div{
	border: 1px solid black;
}
header, body, section, footer
{
	border: 0px solid black;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}
header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
nav{
	border: 0px solid black;
	width:200px;
	float:left;
}
nav ul{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom: 10px;
	list-style-type: none; 
	list-style-image:none;
	margin-left: auto;
	margin-right: auto;
}
nav a{
	display: block;
	padding: 5px 20px 5px 20px;
}
footer p{
	text-align: center;
}
div h2{
	text-align: center;
}

nav ul{
	list-style: none;
}
/* A little less generic, 
   matches all the classes
   */
.blogPost{
	border: 0px;
}
/* Most specific, will only
   match the specific ids*/
div#content{
	width:750px;
	margin-left: 200px;
	margin-right: auto;
	float:auto;
}
#id{
	width: 770px;
}
#presentationImage{
	width: 720px;
	margin-left: 10px;
}

#logo{
	background-image: url("pics/logo.png");
}
#svgImage{
	background-image: url("pics/christoffer.svg");
}
#body-container{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
#content{
	padding-left: 10px;
}