/* Layout */
/* More generic formatting
   that will get applied to
   all of the tags*/
footer, div{
	border: 1px solid black;
}
header, body, section, footer
{
	border: 0px solid black;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}
header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
nav{
	border: 0px solid black;
	width:200px;
	float:left;
}
nav ul{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom: 10px;
	list-style-type: none; 
	list-style-image:none;
	margin-left: auto;
	margin-right: auto;
}
nav a{
	display: block;
	padding: 5px 20px 5px 20px;
}
footer p{
	text-align: center;
}
div h2{
	text-align: center;
}

nav ul{
	list-style: none;
}
/* A little less generic, 
   matches all the classes
   */
.blogPost{
	border: 0px;
	padding-right:15px;
	padding-left: 5px;
	overflow:auto;
}
.textWrapRight{
	float:right;
	margin:5px;
}.textWrapLeft{
	float:left;
	margin:10px;
	margin-bottom:0;
}
/* Most specific, will only
   match the specific ids*/
div#content{
	width:750px;
	margin-left: 200px;
	margin-right: auto;
}
div#questions{
	padding-right:20px;
	padding-left:5px;
}
#id{
	width: 770px;
}
#presentationImage{
	background-image:url("pics/Christofferholmgren.jpg");
	background-repeat: no-repeat;
	background-position:-35px 0;
	width: 725px;
	height: 180px;
	padding:0;
	border: 0;
	margin:0;
}

#logo{
	background-image: url("pics/logo.png");
	background-repeat: no-repeat;
	width:799px;
	height:201px;
	margin:auto;
	padding:0;
}
#svgImage{
	background-image: url("pics/christoffer.svg");
	background-repeat: no-repeat;
	height:480px;
	width:640px;
	margin:0;
	padding:0;
	border: 0;
}
#body-container{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
#content{
	padding-left: 10px;
}
#newBlogPost{
}