/* Layout */
/* More generic formatting
   that will get applied to
   all of the tags*/
   footer, div{
	/*
	border: 1px solid black;
	*/
}
header, body, section, footer
{
	/*border: 0px solid black;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}
header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
nav{
	/*border: 0px solid black;*/
	width:20%;
	float:left;
}
nav ul{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom: 10px;
	list-style-type: none; 
	list-style-image:none;
	margin-left: auto;
	margin-right: auto;
}
nav a{
	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	height:24px;
	display: block;
	padding: 5px 20px 5px 35px;
}
footer p{
	text-align: center;
}
div h2{
	text-align: center;
}
#start{
	background-position: 5px -44px;
}
#start:hover{
	background-position: 5px 4px;
}
#lab{
	background-position: 5px -136px;
}
#lab:hover{
	background-position: 5px -88px;
}
#presentation{
	background-position: 5px -236px;
}
#presentation:hover{
	background-position: 5px -188px;
}
#kontakt{
	background-position: 5px -332px;
}
#kontakt:hover{
	background-position: 5px -284px;
}
nav ul{
	padding-left: 15px;
	list-style: none;
}
fieldset ul li{
	list-style: none;
}
form{
	margin: 0 auto;
}
label, input{
	display: inline-block;
}
label{
	width:auto;
	text-align: left;
}
/* A little less generic, 
matches all the classes
*/
p.postedBy{
font-style: italic;
text-align:right;
margin-right: 20px;
}
.blogPost{
/*border: 0px;*/
padding-right:15px;
padding-left: 5px;
overflow:auto;
}
.textWrapRight{
float:right;
margin:5px;
}.textWrapLeft{
	float:left;
	margin:10px;
	margin-bottom:0;
}
/* Most specific, will only
match the specific ids*/
#body-container{
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	width:100%;
}
div#content{
	max-width:750px;
	width:80%;
	margin-left: 20%;
	margin-right: auto;
}
div#questions{
	padding-right:20px;
	padding-left:5px;
}
#id{
	width: 770px;
}
#presentationImage{
	background-image:url("pics/Christofferholmgren.jpg");
	background-repeat: no-repeat;
	background-position:-35px 0;
	max-width: 725px;
	height:200px;
	width:100%;
	padding:0;
	border: 0;
	margin:0;
}
#logo{
	background-image: url("pics/logo.png");
	background-repeat: no-repeat;
	width:799px;
	height:201px;
	margin:auto;
	padding:0;
}
#image img{
	text-indent: 100%;
	white-space:nowrap;
	overflow:hidden;
}
#svgImage{
	background-image: url("pics/christoffer.svg");
	background-repeat: no-repeat;
	height:480px;
	width:100%;
	margin:0;
	padding:0;
	border: 0;
}
#svgImage img{
	text-indent: 100%;
	white-space:nowrap;
	overflow:hidden;
}
#content{
	padding-left: 10px;
}
#location{
	width:155px;
	margin-left: 22px;
	padding-top: 1px;
	padding-bottom:1px;
}
input#headerMail{
	margin-left:49px;
}
input#question{
	margin-left:51px;
}
input#questionOne{
	margin-left:100px;
}
#one{
	margin-left: 30px;
}
#two{
	margin-left: 27px
}
#telefon{
	margin-left: 15px;
}
#mail{
	margin-left:31px;
}
#three{
	margin-left: 0px;
	width:238px;
}

/* Printable.css */
@media print{
	#top, nav, footer, video, div.image {
		display: none;
	}
	div{
		width: 100%; 
		margin: 0; 
		float: none;
	}
	body{
		width:100%;
		margin:0;
		padding:0;
	}
	#body-container, #content { 
		text-align: left;
		width: 100%; 
		height:100%;
		border: 0; 
		margin: 0 5%;
		margin-right: 10%;
		padding: 0;
	}
	img{
		max-width: 100%;
	}
	/*@page{
	margin-left: 0cm;
	margin-right: 2.5cm;
	}*/
	body {
		font: 12pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
	}
	h1 {
		font-size: 24pt;
	}
	h2 {
		font-size: 14pt;
		margin-top: 25px;
	}
	blockquote, ul {
		margin: 0;
	}
	a:link:after,a:visited:after{
		content:"(" attr(href) ")";
	}
}
@media only screen and (max-width:480px){
	nav{
		float:none;
		width:100%;
	}
	nav ul{
		padding-left:0px;
	}
	#table{
		margin-left:auto;
		margin-right: auto;
		display: block;
		max-width: 100%;
	}
	div#content{
		width:100%;
		margin:0;
		padding:0;
	}
	video, img,div#svgimage{
		max-width: 100%
	}
	#svgImage{
		/* Remove styling from the div so that the image can show */
		width:auto;
		height:auto;
		background: none;
	}
	#logo{
		width: auto;
		height:auto;
		background: none;
	}
	#presentationImage img{
		width: auto;
		height:auto;
		background: none;
	}
	#presentationImage{
		width: auto;
		height:auto;
		background: none;
	}
	#svgImage img{
		text-indent: none;
		overflow:auto;
		white-space: auto;
	}
	#logo img{
		text-indent: none;
		overflow:auto;
		white-space: auto;
	}
}
