#top, nav, footer, video, div.image {
	display: none;
}
div{
	width: 100%; 
	margin: 0; 
	float: none;
}
body{
	margin: 0;
	padding:0;
}
#content { 
	width: 100%; 
	height:100%;
	border: 0; 
	margin: 0 5%;
	margin-right: 10%;
	padding: 0;
}
img{
	max-width: 500px;
}
/*@page{
	margin: 0.5cm;
}*/
@page{
	margin: 2cm;
}
body {
	font: 12pt Georgia, "Times New Roman", Times, serif;
	line-height: 1.3;
}
h1 {
	font-size: 24pt;
}
h2 {
	font-size: 14pt;
	margin-top: 25px;
}
blockquote, ul {
	margin: 0;
}
a:link:after,a:visited:after{
	content:"(" attr(href) ")";
}