/* Typografi */
/*
Imports Roboto and Cantora One from Google, unnecessary but a good learning tool
*/
@import url(http://fonts.googleapis.com/css?family=Cantora+One);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic);
p{
	line-height: 2;
	font-family: "Roboto", sans-serif;
}
h2,h3{
	font-family: "Robot", sans-serif;
	font-weight: 900;
}
/* Color */
/* 
	Background body: #aaa
	Background header: #bbb
	Background nav: #CCCCCC
	Background section: #CCCCCC
	Background footer: #aaa
	Nav text color: #fff
	Footer text color: #000
*/
body{
	background-color: #aaa;
}
#body-container{
	background-color: #ccc;
}
header{
	background-color: #bbb;
}
nav, nav a:visited{
	background-color: #CCCCCC;
	color:#000000;
}
/*nav  a:visited{
	color:#000000;
}*/
nav ul a:hover, nav ul a:focus{
	text-decoration: none;
	color:#fff;
}
nav a{
	text-decoration: none;
}
nav ul li:hover{
	background-color: #222222;
}
nav li{
	background-color: #aab;
}
section{
	background-color: #CCCCCC;
}
footer{
	background-color: #aaa;
	color:#000;
}
a{
	color:#0000FF;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
h2{
	color:#64151E;
}
a.active, a:visited.active{
	color: #FF0000;
}